/*------- ABOUT PAGE -------*/

.About-header{
    max-height: 85vh;
    margin-top: -5px;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img/About\ Logo.png); */
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

/*
.About-header h1{
    padding: 20%;
}
*/

/* DESCRIPTION GROUP */

h1{
    text-align: center;
    margin: 30px 0 50px;
}

.gallery{
    margin: 10px 135px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery img{
    align-items: center;
    width: 320px;
    padding: 10px;
    filter: grayscale(0);
}

.gallery img:hover{
    filter: brightness(50%);
    transition: 1s;
    transform: scale(1.1)
}

/* TABLE */

.content-table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 20px;
    /* min-width: 400px; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    align-items: center;
    max-width: 75%;
}

.WebCreate{
    padding-top: 20px;
    max-width: 75%;
    /* justify-content: center; */
    /* padding: 10px 10px 10px 10px; */
    margin-left: auto;
    margin-right: auto;
}

.Editor{
    padding-top: 20px;
    max-width: 75%;
    /* justify-content: center; */
    /* padding: 10px 10px 10px 10px; */
    margin-left: auto;
    margin-right: auto;
}

.SocMed{
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 75%;
    /* justify-content: center; */
    /* padding: 10px 10px 10px 10px; */
    margin-left: auto;
    margin-right: auto;
}

.content-table thead tr{
    background-color: #e3cb85;
    color: #fff;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid lightgray;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #e3cb85;
}

.content-table tbody tr.active-row{
    color: #e3cb85;
}