/* Members Page */

.Members-header{
    max-height: 85vh;
    margin-top: -5px;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img/Members\ Logo.png); */
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fffee8;
}

/*
.Members-header h1{
    padding: 20%;
}
*/

p {
    color: #12151e;
}

/*------- THE WEBSITE CRREATORS -------*/
.TWC{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.TWC-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: auto;
    position: relative;
    overflow: hidden;
}

.TWC-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0, 94, 226, 0.424);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer p {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.layer:hover p{
    bottom: 43%;
    opacity: 1;
}

/* group image carousel */

.team{
    color: #12151e;
    text-align: center;
    padding-top: 10%;
}

.group-carousel{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffee8 ;
}

.slide-container{
    max-width: 1120px;
    width: 120%;
    padding: 40px 0 ;
}

.slide-content{
    margin: 40px 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    border-radius: 25px;
    background-color: #fff;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #bb9201;
    border-radius: 25px 25px 0px 0px;
}
/*
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #bb9201;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
*/
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fffee8;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #bb9201;
}

.name{
    font-size: 18px;
    color: #12151e;
}

.description{
    font-size: 14px;
    color: #90744f;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #e3cb85;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition:all 0.3s ease;
}

.button:hover{
    background: #bb9201;
}

.swiper-navBtn{
    color: #e3cb85;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #bb9201;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-prev{
    left: 0;
}

.swiper-pagination-bullet{
    background-color: #e3cb85;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #bb9201;
}

@media screen and (max-width: 768px) {
	.slide-content{
	  margin: 0 10px;
	}
	.swiper-button-next{
	  display: none !important;
	}
	.swiper-button-prev{
		display: none !important;
	}
  }