/*---------- ILS Project Page -----------*/

body {
    /* background-image: url(image/wall.jpg); */
}

.Project-header{
    max-height: 85vh;
    margin-top: -5px;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img/Projects\ Logo.png); */
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
/*
.Project-header p{
    padding: 20%;
}
*/
h1, h2, h3 {
    color: #90744f;
}

p {
    color: #12151e;
}



.gold-btn{
    display: inline-block;
    text-decoration: none;
    color: #12151e;
    border:  1px solid #12151e;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.gold-btn:hover{
    color: #fffee8;
    border: 1px solid #12151e;
    background: #12151e;
    transition: 1s;
}

/*
h1{
    color: aliceblue;
}

p{
    color: lightgray;
}
*/

/*
.pagename{
    text-align: center;
    color: lightgray;
    text-shadow: 
    0 0 7px lightgray,
    0 0 10px lightgray,
    0 0 21px lightgray,
    0 0 42px gold,
    0 0 82px gold,
    0 0 92px gold,
    0 0 102px gold,
    0 0 151px gold;
}

.pagename h1{
    text-align: center;
    font-weight: 400;
    line-height: 1;
    animation: glow 0.11s ease-in-out infinite alternate;
}

@keyframes glow{
    100%{
        text-shadow:
        0 0 4px lightgray,
        0 0 11px lightgray,
        0 0 19px lightgray,
        0 0 40px gold,
        0 0 80px gold,
        0 0 90px gold,
        0 0 100px gold,
        0 0 150px gold;
    }
    0%{
        text-shadow:
        0 0 4px lightgray,
        0 0 10px lightgray,
        0 0 18px lightgray,
        0 0 38px gold,
        0 0 73px gold,
        0 0 80px gold,
        0 0 94px gold,
        0 0 140px gold;
    }
    
} 
*/

/*
.ILSPROJECTS{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.ILS-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.ILS-col img{
    width:75%;
    padding: 10px 0;
}

.ILS-col h1{
    padding: 0;
}

.ILS-col p{
    padding: 15px 0 25px;
}

.ILSPROJECTS span {
    background: #e3cb85;
    height: 2px;
    width: 80%;
    position: absolute ;
}
*/

/* ACHIEVEMENTS */
.ILSPROJECTS{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.ILS-col{
	justify-content: center;
    flex-basis: 48%;
    padding: 30px 2px;
	margin-right: 10px;
}

.ILS-img{
    margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
	width: 500px;
	height: 350px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.576);
}

.ILS-img:hover img {
	transform: scale(1.1);
}

.ILS-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .3s linear;
	border-radius: 10px;
	
}

.ILS-col h1{
    padding: 0;
}

.ILS-col p{
	padding: 15px 10px 25px 0;
    text-align: justify;
}

.ILSPROJECTS span {
    background: #e3cb85;
    height: 2px;
    width: 80%;
    position: absolute;
	z-index: 1;
}

.row{
    padding-top: 3%;
	padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
